/* Report Texts */
/* ------------ */

.ReportsTexts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  list-style: none;
  margin: 0px;
}

.ReportsText__item {
  padding: 0px;
  margin: 0px;
}

.ReportsText__item--txt {
    position: relative;
    display: -webkit-box;
    padding: 5px 10px;
    margin: 0px;
    border: 1px solid var(--col-darken-1);
    background: var(--col-white);
    user-select: none;
    cursor: move;
    -webkit-user-drag: element;
}

.ReportsText__item + .ReportsText__item {
  margin-top: 10px;
}

.ReportsTexts_list {
  display: block;
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.ReportsTexts__item {
  position: relative;
  display: block;
  padding: 5px 10px;
  margin: 0px;
  border: 1px solid var(--col-darken-1);
  background: var(--col-white);
  user-select: none;
  cursor: move;
  -webkit-user-drag: element;
}

.ReportsTexts__item--dragging {
  background: var(--col-brand-transparent);
  opacity: 0.5;
}

.ReportsTexts__item + .ReportsTexts__item {
  margin-top: 10px;
}


.ReportsTexts__adder {
  text-align: center;
  border: none;
  background: none;
}
