/* Report Texts */
/* ------------ */

.ReportsTexts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  list-style: none;
  margin: 0px;
}

.ReportsTexts__adder {
  text-align: center;
  border: none;
  background: none;
}
