{
  "extends": ["react-app", "plugin:flowtype/recommended"],
  "plugins": [
    "jest",
    "flowtype"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true,
    "jest/globals": true
  }
}
