/* Circular Button */
/* --------------- */

.ButtonCircular {
  background: var(--col-primary);
  border-radius: 50%;
  border: 1px solid var(--col-darken-2);
  color: var(--col-white);
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  font-size: var(--font-size);
  outline: none;
  cursor: pointer;
  transition: all 250ms ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ButtonCircular .icofont {
  pointer-events: none;
}

.ButtonCircular:focus {
  box-shadow: var(--focus);
}

.ButtonCircular:hover {
  background: var(--col-primary-light);
}

.ButtonCircular:active {
  background: var(--col-primary-dark);
}


/* Positive */
.ButtonCircular[data-buttontype="pos"] {
  background: var(--col-pos);
}

.ButtonCircular[data-buttontype="pos-rollover"]:hover,
.ButtonCircular[data-buttontype="pos"]:hover {
  background: var(--col-pos-light);
}

.ButtonCircular[data-buttontype="pos-rollover"]:active,
.ButtonCircular[data-buttontype="pos"]:active {
  background: var(--col-pos-dark);
}


/* Negative */
.ButtonCircular[data-buttontype="neg"] {
  background: var(--col-neg);
}

.ButtonCircular[data-buttontype="neg-rollover"]:hover,
.ButtonCircular[data-buttontype="neg"]:hover {
  background: var(--col-neg-light);
}

.ButtonCircular[data-buttontype="neg-rollover"]:active,
.ButtonCircular[data-buttontype="neg"]:active {
  background: var(--col-neg-dark);
}


/* Disabled */
.ButtonCircular[disabled],
.ButtonCircular[disabled]:focus,
.ButtonCircular[disabled]:hover,
.ButtonCircular[disabled]:active {
  background: var(--col-darken-1);
  color: var(--col-darken-1);
  pointer-events: none;
  user-select: none;
  box-shadow: none;
}
