/* Sidebar */
/* ------- */

.Sidebar {
  height: 100%;
  width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
  position: relative;
  background: var(--col-sidebar-bg);
  flex-shrink: 0;
}

.Sidebar--header {
  padding-top: var(--sidebar-header-height);
}

.Sidebar--footer {
  padding-bottom: var(--sidebar-footer-height);
}

@media screen and (min-width: 1024px) {
    .Sidebar {
      width: var(--sidebar-max-width);
    }
}
