/* Report Panel Text List */
/* ---------------------- */

.ReportsAvailableTexts {
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 100%;
  border-top: 1px solid var(--col-darken-1);
}

.ReportsAvailableTexts_list {
  display: block;
  position: relative;
  list-style: none;
  padding: 20px;
  margin: 0px;
}

.ReportsAvailableTexts__item {
  position: relative;
  display: block;
  padding: 5px 10px;
  margin: 0px;
  border: 1px solid var(--col-darken-1);
  background: var(--col-white);
  user-select: none;
  -webkit-user-drag: element;
}

.ReportsAvailableTexts__item + .ReportsAvailableTexts__item {
  margin-top: 20px;
}

.ReportsAvailableTexts__item--selected {
  background: var(--col-brand-transparent);
}

.ReportsAvailableTexts__item--disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.ReportsAvailableTexts_nolist {
  line-height: var(--lh-reduced);
  color: var(--col-darken-5);
  padding: 10px 20px;
}

.ReportsAvailableTexts__itemselected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 50%;
  margin-top: -15px;
  right: -15px;
  background: var(--col-brand);
  color: var(--col-white);
  border: 1px solid var(--col-darken-1);
  font-size: var(--font-size-small);
}
