:root {
  --header-height: 7rem;
  --sidebar-footer-height-pb: calc(var(--sidebar-footer-height) + var(--sidebar-pb-height));
  --sidebar-footer-height: 7rem;
  --sidebar-header-height: 5rem;
  --sidebar-item-height: 5rem;
  --sidebar-max-width: 480px;
  --sidebar-pb-height: 7rem;
  --toastr-max-width: 440px;
  --reports-available-list-height: calc(var(--sidebar-footer-height) + var(--sidebar-header-height));
}
