:root {
  --header-height: 7rem;
  --sidebar-footer-height-pb: calc(var(--sidebar-footer-height) + var(--sidebar-pb-height));
  --sidebar-footer-height: 7rem;
  --sidebar-header-height: 5rem;
  --sidebar-item-height: 5rem;
  --sidebar-max-width: 480px;
  --sidebar-pb-height: 7rem;
  --toastr-max-width: 440px;
  --reports-available-list-height: calc(var(--sidebar-footer-height) + var(--sidebar-header-height));
  --reports-column-wrapper-padding: 20px;
  --reports-column-wrapper-offset: calc(2 * var(--reports-column-wrapper-padding));
  --reports-column-wrapper-height: calc(100% - (var(--sidebar-header-height) + var(--reports-column-wrapper-offset)));
}
