:root {
  --focus: 0px 0px 1px 4px rgba(90, 182, 221, 0.2);
  --focus-error: 0px 0px 1px 4px rgba(232, 73, 24, 0.2);
  --but-highlight: inset 0px 7px 9px -7px var(--col-lighten-4);
  --border-radius: 4px;
  --form-ele-height: 4rem;
  --popup-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
}
