/* Header Menu Button */
/* ------------------ */

.MenuButton {
  width: 80px;
  height: var(--header-height);
  margin: 0px;
  padding: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  border: 0px;
  background: transparent;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.MenuButton:focus {
  outline: none;
}

.MenuButton__inner {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  transition: all 150ms ease;
}

.MenuButton:focus .MenuButton__inner {
  background: var(--col-lighten-1);
}

.MenuButton:hover .MenuButton__inner {
  background: var(--col-lighten-2);
}

.MenuButton .MenuButton__inner span {
  display: block;
  width: 20px;
  height: 3px;
  background: var(--col-darken-3);
  padding: 0px;
  margin: 2px;
  line-height: 5px;
  transition: all 250ms ease;
}

.MenuButton:active .MenuButton__inner span {
  background: var(--col-white);
}
