.ItemList {
  background: transparent;
  color: var(--col-text);
  font-size: var(--font-size);
  line-height: var(--lh-reduced);
  list-style: none;
  margin: 0px auto;
  max-height: 305px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0px;
  position: relative;
  text-align: inherit;
  width: 100%;
}

.ItemList__item {
  border-bottom: 1px solid var(--col-darken-3);
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
}

.ItemList__itemLabel {
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
}

.ItemList__item:last-child {
  border-bottom: none;
}

.ItemList input[type='checkbox'] {
  display: none;
}

.ItemList__inner {
  align-items: center;
  background: var(--col-darken-1);
  color: var(--col-text);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: var(--font-size);
  height: var(--sidebar-item-height);
  justify-content: flex-start;
  outline: none;
  padding: 10px 15px;
  text-decoration: none;
  width: 100%;
}

.ItemList__text {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-left: 1rem;
  padding-right: 3rem;
}

.ItemList__inner:focus {
  background: var(--col-primary);
}

.ItemList__inner:hover {
  background: var(--col-blue);
}

.ItemList input[type='checkbox']:checked + .ItemList__inner {
  background: var(--col-darken-2);
}

.ItemList input[type='checkbox']:checked + .ItemList__inner:hover {
  background: var(--col-blue);
}

.ItemList__description {
  opacity: 0.5;
  padding-left: 1rem;
}

.ItemList__iconSelected {
  position: absolute;
  right: 15px;
}

.ItemList .NoItems {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0px;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
}
