.ItemList {
  position: relative;
  margin: 0px auto;
  margin-bottom: 1rem;
  max-height: 450px;
  width: 100%;
  background: var(--col-field-bg);
  border: 1px solid var(--col-darken-3);
  border-radius: var(--border-radius);
  color: var(--col-text);
  font-size: var(--font-size);
  line-height: var(--lh-reduced);
  text-align: inherit;
  overflow-x: hidden;
  overflow-y: auto;
}

.ItemList__item {
  width: 100%;
  display: block;
  position: relative;
  padding: 0px;
  margin: 0px;
}

.ItemList input[type='checkbox'] {
  display: none;
}

.ItemList__inner {
  padding: 10px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  color: var(--col-text);
  font-size: var(--font-size);
  outline: none;
  text-decoration: none;
  height: var(--sidebar-item-height);
  width: 100%;
  cursor: pointer;
  background: var(--col-darken-1);
}

.ItemList__inner:focus {
  background: var(--col-primary);
}

.ItemList__inner:hover {
  background: var(--col-blue);
}

.ItemList__item + .ItemList__item .ItemList__inner {
  border-top: 1px solid var(--col-darken-1);
}

.ItemList input[type='checkbox']:checked + .ItemList__inner {
  background: var(--col-darken-2);
}

.ItemList input[type='checkbox']:checked + .ItemList__inner:hover {
  background: var(--col-blue);
}

.ItemList__description {
  padding-left: 1rem;
  opacity: 0.5;
}

.ItemList .Icon + .ItemList__label {
  padding-left: 1rem;
}

.ItemList .NoItems {
  min-height: 50px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
