.Reports {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  overflow-y: auto;
  position: relative;
  width: 100%;
}

.Reports__column {
  height: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 50%;
}

.Reports__columnAvailable {
  height: 100%;
  padding: var(--reports-column-wrapper-padding);
  width: 66.6666%;
}

.Reports__columnSelected {
  width: 33.3333%;
}

.Reports__columnWrapper {
  align-items: stretch;
  border: 1px solid var(--col-darken-3);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow: hidden;
  position: fixed;
  width: calc(66.6666% - var(--reports-column-wrapper-offset));
  height: var(--reports-column-wrapper-height);
}

.Reports__columnWrapper > * {
  margin: 0px;
  width: 50%;
}

.Reports__columnWrapper > *:first-child {
  border-right: 1px solid var(--col-darken-2);
}

.Reports__column .Sidebar {
  width: 100%;
  margin: 0px;
}

.Reports__column .SidebarHeader {
  background: var(--col-darken-3);
  border-right: 0;
}

.Reports__columnWrapper > *:first-child .SidebarHeader:before {
  content: ' ';
  position: absolute;
  height: 100%;
  width: 1px;
  background: var(--col-darken-3);
  top: 0px;
  right: -1px;
}

.Reports__column .SidebarHeader .SearchField .TextInput {
  background: var(--col-darken-1);
}

.Reports__column .SidebarList {
  border-right: none;
}

.Reports__column .SidebarPageBrowser {
  border-right: none;
}
