/* Tags */
/* ---- */

html {
  line-height: var(--lh-std);
  font-size: var(--font-size-base);
  font-family: var(--font-sans);
  height: 100%;
  color: var(--col-text);
  box-sizing: border-box;
  background: var(--col-bg);
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: var(--font-size);
  font-family: inherit;
  height: 100%;
  color: inherit;
  background: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  margin-bottom: var(--mar-bottom-std);
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}
::-moz-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}
:-ms-input-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}
:-moz-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}
