/* Tags */
/* ---- */

html {
  line-height: var(--lh-std);
  font-size: var(--font-size-base);
  font-family: var(--font-sans);
  height: 100%;
  color: var(--col-text);
  box-sizing: border-box;
  background: var(--col-bg);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: var(--font-size);
  font-family: inherit;
  height: 100%;
  color: inherit;
  background: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  margin-bottom: var(--mar-bottom-std);
}

a {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: var(--col-placeholder);
  font-style: italic;
}

/* Select */
/* ------ */

select {
  background: var(--col-white);
  color: var(--col-text);
  border: 1px solid var(--col-darken-3);
  border-radius: var(--border-radius);
  outline: 0px;
  text-align: inherit;
  padding: 0.5rem 1rem;
  font-size: var(--font-size);
  line-height: var(--lh-reduced);
  width: 100%;
  margin: 0px auto;
  height: var(--form-ele-height);
  transition: all 250ms ease;
}

select:focus {
  box-shadow: var(--focus);
}

select:hover {
  border-color: var(--col-primary-light);
}

select:active {
  border-color: var(--col-primary);
}
