/* Toastr Overrides  */
/* ----------------- */

.redux-toastr .bottom-center {
  padding: 0 10px;
  position: fixed;
  z-index: 99999999;
  bottom: 75px;
  left: 20px;
  margin-left: 0px;
  width: var(--toastr-max-width);
}
