.ReportsSelectedTexts {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - var(--sidebar-header-height));
  justify-content: flex-start;
  list-style: none;
  margin: 0px;
  overflow: auto;
  padding: 20px 20px;
  position: relative;
}

.ReportsSelectedTexts__adder {
  background: none;
  border: none;
  text-align: center;
}
