.SettingsLayout {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0px;
  padding: 20px;
  width: 100%;
}

.SettingsLayout .form {
  margin: 0px auto;
  max-width: 600px;
  padding: 0px 20px;
  width: 100%;
}
