.FormDescription {
  font-size: var(--font-size);
  line-height: var(--lh-reduced);
  margin-bottom: var(--font-size-vlarge);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
}

.FormDescription--inline {
  display: inline-block;
  margin-bottom: 0.5rem;
  text-align: left;
  width: auto;
}
