.ItemSelection {
  height: 100%;
  width: 100%;
  display: block;
}

.ItemSelection__content {
  background: var(--col-darken-1);
  border-radius: var(--border-radius);
  border: 1px solid var(--col-darken-3);
  overflow: hidden;
  position: relative;
}

.ItemSelection__search {
  border-bottom: 1px solid var(--col-darken-3);
  padding: 10px;
  position: relative;
}

.ItemSelection__search .ItemSelection__searchclear .Icon {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  font-size: var(--font-size-medium);
  cursor: pointer;
}

.ItemSelection__search .ItemSelection__searchclear .Icon:active {
  color: var(--col-primary);
}

.ItemSelection__search .TextInput:not(:placeholder-shown) + .ItemSelection__searchclear .Icon {
  display: flex;
}

.ItemSelection .NoItems {
  margin-bottom: 0;
}
