.ItemSelection {
  height: 100%;
  width: 100%;
  display: block;
}

.ItemSelection__search {
  margin-bottom: 1rem;
  position: relative;
}

.ItemSelection__search .ItemSelection__searchclear .Icon {
  position: absolute;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  font-size: var(--font-size-medium);
  cursor: pointer;
}

.ItemSelection__search .ItemSelection__searchclear .Icon:active {
  color: var(--col-primary);
}

.ItemSelection__search .TextInput:not(:placeholder-shown) + .ItemSelection__searchclear .Icon {
  display: flex;
}

.ItemSelection__create {
  margin-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.ItemSelection__create .TextInput {
  position: relative;
  padding-right: 50px;
}

.ItemSelection__create .Button {
  position: absolute;
  width: 40px;
  top: 0px;
  right: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
