/* Info Message */
/* ------------ */

.InfoMsg {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 40px 20px;
}

.InfoMsg__subtext,
.InfoMsg__headine {
  text-align: center;
  font-size: var(--font-size-large);
  line-height: var(--lh-reduced);
  width: 80%;
  margin: 0px auto 10px auto;
  color: var(--col-darken-5);
  font-weight: normal;
}

.InfoMsg__headine:empty {
  display: none;
}

.InfoMsg__subtext {
  font-size: var(--font-size);
}

.InfoMsg__subtext:empty {
  display: none;
}
