.FieldWrap {
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.fiedwrap__placeholders {
  position: relative;
  margin: 0px;
  padding-top: 1px;
}

.fiedwrap__placeholder {
  position: relative;
  display: inline-block;
  border-radius: var(--border-radius);
  background: var(--col-darken-1);
  border: 1px solid var(--col-darken-1);
  padding: 0px 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.fieldwrap--labeled {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fieldwrap--labeled .fieldwrap__left {
  padding-bottom: 0px;
  padding-right: 0.5rem;
  width: 50%;
  align-items: flex-end;
}

.fieldwrap--labeled .fieldwrap__right {
  padding-left: 0.5rem;
  width: 50%;
  align-items: flex-start;
}

.fieldwrap__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fieldwrap__column {
  width: 50%;
}

.fieldwrap__column:first-child {
  padding-right: 10px;
}

.fieldwrap__column:last-child {
  padding-left: 10px;
}

.fieldwrap__info {
  color: var(--col-darken-5);
  display: inline-block;
  font-size: var(--font-size-small);
  line-height: var(--lh-reduced);
}

.FieldWrap + .FieldWrap {
  margin-top: 10px;
}
