/* Add Button */
/* ---------- */

.AddButton {
  border: 1px solid var(--col-darken-1);
  color: var(--col-darken-5);
  background: var(--col-darken-1);
  border-radius: var(--border-radius);
}


/* Disabled */
.AddButton[disabled],
.AddButton[disabled]:focus,
.AddButton[disabled]:hover,
.AddButton[disabled]:active {
  cursor: not-allowed;
  user-select: none;
  box-shadow: none;
}
