/* Forms */
/* ----- */

.fieldwrap {
  position: relative;
  margin-bottom: 2rem;
}

.fiedwrap__placeholders {
  position: relative;
  margin: 0px -10px;
}

.fiedwrap__placeholder {
  position: relative;
  display: inline-block;
  border-radius: var(--border-radius);
  background: var(--col-darken-1);
  border: 1px solid var(--col-darken-1);
  padding: 2px 5px;
  margin: 10px;
}

.fieldwrap--labeled {
  position: relative;
}

.fieldwrap--labeled .fieldwrap__left {
  position: relative;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.fieldwrap--labeled .fieldwrap__right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldwrap2--labeled {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fieldwrap2--labeled .fieldwrap__left {
  padding-bottom: 0px;
  padding-right: 0.5rem;
  width: 50%;
  align-items: flex-end;
}

.fieldwrap2--labeled .fieldwrap__right {
  padding-left: 0.5rem;
  width: 50%;
  align-items: flex-start;
}

.fieldwrap__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fieldwrap__column {
  width: 50%;
}

.fieldwrap__column:first-child {
  padding-right: 10px;
}

.fieldwrap__column:last-child {
  padding-left: 10px;
}

.fieldwrap__info {
  line-height: var(--lh-reduced);
  color: var(--col-darken-5);
  font-size: var(--font-size-small);
}

.invalid-feedback {
  position: relative;
  padding-top: 1rem;
  font-size: 1.4rem;
  line-height: var(--lh-reduced);
  color: var(--col-neg);
}

.form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form__headline {
  text-align: center;
  font-size: var(--font-size-large);
  line-height: var(--lh-reduced);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--font-size-large);
  color: var(--col-text);
  font-weight: normal;
}

.form__footnote {
  text-align: center;
  font-size: var(--font-size-small);
  line-height: var(--lh-reduced);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8px;
  margin-bottom: 0px;
  color: var(--col-darken-5);
}

fieldset {
  margin-bottom: var(--mar-bottom-std);
  border-color: var(--col-darken-1);
}

fieldset > *:last-child {
  margin-bottom: 0px;
}

legend {
  font-weight: bold;
}
