/* Forms */
/* ----- */

.fieldwrap {
  position: relative;
  margin-bottom: 2.0rem;
}

.fiedwrap__placeholders {
  position: relative;
  margin: 0px -10px;
}

.fiedwrap__placeholder {
  position: relative;
  display: inline-block;
  border-radius: var(--border-radius);
  background: var(--col-darken-1);
  border: 1px solid var(--col-darken-1);
  padding: 2px 5px;
  margin: 10px;
}

.fieldwrap--labeled {
  position: relative;
}

.fieldwrap--labeled .fieldwrap__left {
  position: relative;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldwrap--labeled .fieldwrap__right {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldwrap__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.fieldwrap__column {
  width: 50%;
}

.fieldwrap__column:first-child {
  padding-right: 10px;
}

.fieldwrap__column:last-child {
  padding-left: 10px;
}

.fieldwrap__info {
  line-height: var(--lh-reduced);
  color: var(--col-darken-5);
  font-size: var(--font-size-small);
}

.fieldwrap__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.invalid-feedback {
  position: relative;
  padding-top: 1.0rem;
  font-size: 1.4rem;
  line-height: var(--lh-reduced);
  color: var(--col-neg);
}

.form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.form__headline {
  text-align: center;
  font-size: var(--font-size-large);
  line-height: var(--lh-reduced);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--font-size-large);
  color: var(--col-text);
  font-weight: normal;
}

.form__footnote {
  text-align: center;
  font-size: var(--font-size-small);
  line-height: var(--lh-reduced);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -8px;
  margin-bottom: 0px;
  color: var(--col-darken-5);
}

.form__submsg {
  text-align: center;
}

.form__submsg a {
  color: var(--col-primary);
  text-decoration: none;
}

.form__submsg a:hover {
  color: var(--col-primary-light);
  text-decoration: underline;
}

.form__submsg a:active {
  color: var(--col-primary-dark);
  text-decoration: none;
}


@media screen and (min-width: 1024px) {
  .fieldwrap2--labeled {
  	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: center;
  	align-items: center;
  }

  .fieldwrap2--labeled .fieldwrap__left {
    padding-bottom: 0px;
    padding-right: 0.5rem;
    width: 50%;
  	align-items: flex-end;
  }

  .fieldwrap2--labeled .fieldwrap__right {
    padding-left: 0.5rem;
    width: 50%;
  	align-items: flex-start;
  }
}
