/* Select */
/* ------ */

select {
  background: var(--col-white);
  color: var(--col-text);
  border: 1px solid var(--col-darken-3);
  border-radius: var(--border-radius);
  outline: 0px;
  text-align: inherit;
  padding: 0.5rem 1.0rem;
  font-size: var(--font-size);
  line-height: var(--lh-reduced);
  width: 100%;
  margin: 0px auto;
  height: var(--form-ele-height);
  transition: all 250ms ease;
}

select:focus {
  box-shadow: var(--focus);
}

select:hover {
  border-color: var(--col-primary-light);
}

select:active {
  border-color: var(--col-primary);
}
