/* Sidebar Subheader */
/* ----------------- */

.SidebarSubheader {
  position: absolute;
  top: var(--sidebar-header-height);
  left: 0px;
  margin: 0px;
  padding: 10px 20px;
  width: 100%;
  height: var(--sidebar-footer-height);
  border-bottom: 1px solid var(--col-darken-2);
  background: var(--col-darken-1);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.SidebarSubheader .CatSelect {
  background: transparent;
  padding: 0px;
}

.SidebarSubheader + .NoItems {
  width: 100%;
}

.SidebarSubheader + .NoItems,
.SidebarSubheader + .SidebarList {
  margin-top: var(--sidebar-footer-height);
}
