/* Report Category Selector */
/* ------------------------ */

.CatSelect {
  padding: 20px;
  background: var(--col-darken-1);
  border-bottom: 1px solid var(--col-darken-1);
}

.CatSelect select:focus {
  box-shadow: none;
}

.CatSelect_sep {
  opacity: 0.5;
}
