/* Report Text Item */
/* ---------------- */

.ReportsTextItem {
  position: relative;
  display: block;
  padding: 5px 10px;
  margin: 0px;
  border: 1px solid var(--col-darken-1);
  background: var(--col-white);
  user-select: none;
  cursor: move;
  width: 100%;
  -webkit-user-drag: element;
}

.ReportsTextItem + .ReportsTextItem {
  margin-top: 20px;
}

.ReportsTextItem--dragging {
  visibility: hidden;
}