.HeaderPath {
  display: inline-block;
  color: var(--col-lighten-7);
  font-weight: normal;
}

.HeaderPath__sub:not(:empty):before {
  content: ' ';
  position: relative;
  display: inline-block;
  width: 10px;
}

.HeaderPath__sub:not(:empty) + .HeaderPath__sub:not(:empty):before {
  content: '/';
  position: relative;
  display: inline-block;
  width: 30px;
  text-align: center;
  color: var(--col-lighten-5);
}
