.Textarea {
  background: var(--col-white);
  border-radius: var(--border-radius);
  border: 1px solid var(--col-darken-3);
  color: var(--col-text);
  font-size: var(--font-size);
  height: 10rem;
  line-height: var(--lh-reduced);
  margin: 0px auto;
  outline: 0px;
  padding: 1rem;
  resize: vertical;
  text-align: left;
  transition: all 250ms ease;
  width: 100%;
}

.Textarea:focus {
  box-shadow: var(--focus);
}

.Textarea:hover {
  border-color: var(--col-primary-light);
}

.Textarea:active {
  border-color: var(--col-primary);
}

.Textarea + .FieldError {
  margin-top: -1rem;
}

/* Error */
.Textarea.has--error,
.Textarea.has--error:focus,
.Textarea.has--error:active {
  border-color: var(--col-neg);
}

/* Disabled */
.Textarea[disabled],
.Textarea[disabled]:focus,
.Textarea[disabled]:hover,
.Textarea[disabled]:active {
  opacity: 0.33;
  cursor: not-allowed;
  box-shadow: none;
  border-color: var(--col-darken-3);
  user-select: none;
}
